<h1>Your score!</h1>
<p>Find me in app/views/games/score.html.erb</p>

<p> Answer: <%= @result[:answer] %> </p>
<p> Score: <%= @result[:score] %> </p>
<p> Message: <%= @result[:message] %> </p>

<br>


<%= link_to "Play again", '/new' %>
